In [1]:
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('display.max_colwidth', -1)

In [2]:
loan_data = pd.read_csv('loan/loan.csv')
print(loan_data.head())
print(list(loan_data.columns))
print(len(loan_data.index))

        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  1077501  1296599    5000       5000         4975.0            36 months
1  1077430  1314167    2500       2500         2500.0            60 months
2  1077175  1313524    2400       2400         2400.0            36 months
3  1076863  1277178    10000      10000        10000.0           36 months
4  1075358  1311748    3000       3000         3000.0            60 months

  int_rate  installment grade sub_grade  ... num_tl_90g_dpd_24m  \
0  10.65%   162.87       B     B2        ... NaN
1  15.27%   59.83        C     C4        ... NaN
2  15.96%   84.33        C     C5        ... NaN
3  13.49%   339.31       C     C1        ... NaN
4  12.69%   67.79        B     B5        ... NaN

  num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75 pub_rec_bankruptcies  \
0 NaN                NaN            NaN                0.0
1 NaN                NaN            NaN                0.0
2 NaN                NaN            NaN                0.0
3 NaN                NaN            NaN                0.0
4 NaN                NaN            NaN                0.0

  tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit  \
0  0.0      NaN             NaN               NaN
1  0.0      NaN             NaN               NaN
2  0.0      NaN             NaN               NaN
3  0.0      NaN             NaN               NaN
4  0.0      NaN             NaN               NaN

  total_il_high_credit_limit
0 NaN
1 NaN
2 NaN
3 NaN
4 NaN

[5 rows x 111 columns]
['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit']
39717

/home/shakeeb/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
def print_missing_value_percentage(df):
    print(round(100 * (df.isna().sum()/len(df.index)), 2))

In [4]:
print_missing_value_percentage(loan_data)

id                                0.00
member_id                         0.00
loan_amnt                         0.00
funded_amnt                       0.00
funded_amnt_inv                   0.00
term                              0.00
int_rate                          0.00
installment                       0.00
grade                             0.00
sub_grade                         0.00
emp_title                         6.19
emp_length                        2.71
home_ownership                    0.00
annual_inc                        0.00
verification_status               0.00
issue_d                           0.00
loan_status                       0.00
pymnt_plan                        0.00
url                               0.00
desc                              32.58
purpose                           0.00
title                             0.03
zip_code                          0.00
addr_state                        0.00
dti                               0.00
delinq_2yrs                       0.00
earliest_cr_line                  0.00
inq_last_6mths                    0.00
mths_since_last_delinq            64.66
mths_since_last_record            92.99
                                  ...
mo_sin_old_rev_tl_op              100.00
mo_sin_rcnt_rev_tl_op             100.00
mo_sin_rcnt_tl                    100.00
mort_acc                          100.00
mths_since_recent_bc              100.00
mths_since_recent_bc_dlq          100.00
mths_since_recent_inq             100.00
mths_since_recent_revol_delinq    100.00
num_accts_ever_120_pd             100.00
num_actv_bc_tl                    100.00
num_actv_rev_tl                   100.00
num_bc_sats                       100.00
num_bc_tl                         100.00
num_il_tl                         100.00
num_op_rev_tl                     100.00
num_rev_accts                     100.00
num_rev_tl_bal_gt_0               100.00
num_sats                          100.00
num_tl_120dpd_2m                  100.00
num_tl_30dpd                      100.00
num_tl_90g_dpd_24m                100.00
num_tl_op_past_12m                100.00
pct_tl_nvr_dlq                    100.00
percent_bc_gt_75                  100.00
pub_rec_bankruptcies              1.75
tax_liens                         0.10
tot_hi_cred_lim                   100.00
total_bal_ex_mort                 100.00
total_bc_limit                    100.00
total_il_high_credit_limit        100.00
Length: 111, dtype: float64

In [7]:
# drop columns where more than 50% missing na values
missing_value_columns = loan_data.columns[(loan_data.isna().sum()/len(loan_data.index)) >= 0.5]
print('No of columns with more than 50% missing values:', len(missing_value_columns))
cleanedup_loan_data = loan_data.drop(missing_value_columns, axis=1, inplace=False)
print('No of columns after dropping columns with more than 50% missing values:', len(cleanedup_loan_data.columns))

No of columns with more than 50% missing values: 57
No of columns after dropping columns with more than 50% missing values: 54

In [9]:
print_missing_value_percentage(cleanedup_loan_data)

id                            0.00
member_id                     0.00
loan_amnt                     0.00
funded_amnt                   0.00
funded_amnt_inv               0.00
term                          0.00
int_rate                      0.00
installment                   0.00
grade                         0.00
sub_grade                     0.00
emp_title                     6.19
emp_length                    2.71
home_ownership                0.00
annual_inc                    0.00
verification_status           0.00
issue_d                       0.00
loan_status                   0.00
pymnt_plan                    0.00
url                           0.00
desc                          32.58
purpose                       0.00
title                         0.03
zip_code                      0.00
addr_state                    0.00
dti                           0.00
delinq_2yrs                   0.00
earliest_cr_line              0.00
inq_last_6mths                0.00
open_acc                      0.00
pub_rec                       0.00
revol_bal                     0.00
revol_util                    0.13
total_acc                     0.00
initial_list_status           0.00
out_prncp                     0.00
out_prncp_inv                 0.00
total_pymnt                   0.00
total_pymnt_inv               0.00
total_rec_prncp               0.00
total_rec_int                 0.00
total_rec_late_fee            0.00
recoveries                    0.00
collection_recovery_fee       0.00
last_pymnt_d                  0.18
last_pymnt_amnt               0.00
last_credit_pull_d            0.01
collections_12_mths_ex_med    0.14
policy_code                   0.00
application_type              0.00
acc_now_delinq                0.00
chargeoff_within_12_mths      0.14
delinq_amnt                   0.00
pub_rec_bankruptcies          1.75
tax_liens                     0.10
dtype: float64

In [10]:
cleanedup_loan_data['desc'].head()

0      Borrower added on 12/22/11 > I need to upgrade my business technologies.<br>
1      Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike. I only need this money because the deal im looking at is to good to pass up.<br><br>  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike.I only need this money because the deal im looking at is to good to pass up. I have finished college with an associates degree in business and its takingmeplaces<br>
2    NaN
3      Borrower added on 12/21/11 > to pay for property tax (borrow from friend, need to pay back) & central A/C need to be replace. I'm very sorry to let my loan expired last time.<br>
4      Borrower added on 12/21/11 > I plan on combining three large interest bills together and freeing up some extra each month to pay toward other bills.  I've always been a good payor but have found myself needing to make adjustments to my budget due to a medical scare. My job is very stable, I love it.<br>
Name: desc, dtype: object

In [12]:
# at this point dont know about textual analysis,
# and the missing percentage is also high - 32.58%, 
# lets drop description columns as well
cleanedup_loan_data.drop(columns=['desc'], axis=1, inplace=True)

In [25]:
# let look at emp_title with 6.19% missing values
print(cleanedup_loan_data['emp_title'].head())
print('% of unique emp_title:', round(100*(cleanedup_loan_data['emp_title'].nunique() / len(cleanedup_loan_data.index))))

# the number of unique values is high - 73%, if we are considering employer columns, then drop missing rows

0    NaN
1    Ryder
2    NaN
3    AIR RESOURCES BOARD
4    University Medical Group
Name: emp_title, dtype: object
% of unique emp_title: 73

In [28]:
# drop potentially irrelevant columns
# id, member_id - doesnt make sense for the problem statement
# funded_amnt, funded_amnt_inv - not required as we have loan_amnt
# 
cleanedup_loan_data[['grade', 'sub_grade']].head()

  grade sub_grade
0  B     B2
1  C     C4
2  C     C5
3  C     C1
4  B     B5